@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body{
  font-family: 'Inter',sans-serif;
}

.dark{
  color-scheme: dark;
}

html{
  scroll-behavior: smooth;
}
.star-shope{
  clip-path: polygon(
    50%, 50%,
    61%, 35%,
    98%, 35%,
    68%, 37%,
    79%, 91%,
    50%, 70%,
  );
}